@import '../../App.sass'

.tabsTables
  white-space: nowrap
  overflow-y: hidden
  @media screen and ( max-width: 979px )
    white-space: nowrap
    overflow-y: hidden

.tabs
  .tab
    opacity: .7
    &.economico
      &.active
        background-color: $economico
        opacity: 1
        color: $white
        border-color: $economico
        svg
          path 
            stroke: $white
            fill: $white
    &.socialycultural
      &.active
        background-color: $socialycultural
        opacity: 1
        color: $white
        border-color: $socialycultural
        svg
          path 
            stroke: $white
            fill: $white
    &.politicoinstitucional
      &.active
        background-color: $politicoinstitucional
        opacity: 1
        color: $white
        border-color: $politicoinstitucional
        svg
          path 
            fill: $white
    &.infraestructura
      &.active
        background-color: $infraestructura
        opacity: 1
        color: $white
        border-color: $infraestructura
        svg
          path 
            stroke: $white
            fill: $white
    &.ambiental
      &.active
        background-color: $ambiental
        opacity: 1
        color: $white
        border-color: $ambiental
        svg
          path 
            stroke: $white
            fill: $white
    &.seguridad
      &.active
        background-color: $seguridad
        opacity: 1
        color: $white
        border-color: $seguridad
        svg
          path 
            stroke: $white
            fill: $white
