@import '../../App.sass'

.municipio-map-sec
  display: flex
  justify-content: space-between
  @media screen and ( max-width: 979px )
    display: block
  
  
.municipio
  .map
    svg
      width: 100%
      margin: auto
      height: auto