@import '../../App.sass'

.tabsTables
  @media screen and ( max-width: 979px )
    white-space: nowrap
    overflow-y: hidden
    
.selectActorEject
  svg
    cursor: pointer
    path
      transition: all .4s
      stroke: rgba($black, .4 )

.tablist
  .tab
    color: rgba($black , .5)
  .tab:checked
    color: rgba($black , 1)
